body {
    background: #D7E6EA;
    margin: 0;
    padding: 0;


}

.main-container {
    display: flex;
    flex-direction: column;
    /*border: 2px solid black ;*/
}

.header {
    width:100%;
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 1px 1px 1px gray;*/

}

.upper-header {
    /*border: 2px solid green;*/
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0B5D71;

}
.logo {
    flex-direction: row;
    align-items: center;
    margin-left:110px;
    font-size: 30px;
    font-family: Calibri, serif;
    font-weight: bold;
    color: white;


}
.colortext {
    color: #00F7FF;
}
.lower-header {
    height: 35px;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;

}

.secondary-list {
    margin-left: 70px;

}

/*.primary-list li {*/
/*    display: inline;*/
/*    margin-right: 15px;*/
/*    font-family: Calibri, serif;*/
/*    font-size: 20px;*/
/*    color: white;*/
/*}*/

.secondary-list li {
    display: inline;
    margin-right: 30px;
    font-family: Calibri, serif;
    font-size: 14px;
    color: #0B5D71;
    font-weight: bold;

}

.img_buttons {
    position: relative;
    left: 500px;
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-between;

}

img {
    /*margin-right: 20px;*/
}

.content{
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
    height: 100%;

}

.feed {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 100px;
    width: 1000px;
    height: 100%;
    background-color: white;
    /*border: 1px solid red;*/
}

p {

    font-size: 30px;
    font-family: Calibri, serif;
    color: #0B5D71;
    font-weight: bold;
    margin: 1em;
}

/*.project-form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/



button {
    background: #0B5D71;
    box-shadow: 0px 3px 3px #00000029;
    border-radius: 5px;
    width: 20%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 90%;
}

input[name='file']{
    border-bottom: 0px;
}
textarea {
    min-height: 500px;
}


a{
    color: #0B5D71;
    text-decoration: none;
}

a:hover{
    color: #2c364a;
    text-decoration: underline;
}

section.article-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-form>form {
    display: flex;
    flex-direction: column;
}
