body {
    background: #D7E6EA;
    margin: 0;
    padding: 0;


}

.main-container {
    display: flex;
    flex-direction: column;
    /*border: 2px solid black ;*/
}

.header {
    position: fixed;
    width:100%;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    box-shadow: 0 0 1px 1px lightgrey;
}


.upper-header {
    /*border: 2px solid green;*/
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0B5D71;

}

.fa-bars {
    /*display: none;*/
    visibility: hidden;
    margin-left: 10px;
    color: white;
    font-size: 30px;
}

.logo {
    flex-direction: row;
    align-items: center;
    margin-left:2em;
    font-size: 30px;
    font-family: Calibri, serif;
    font-weight: bold;
    color: white;


}
.colortext {
    color: #00F7FF;
}
.lower-header {
    height: 35px;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-around;

}


.secondary-list {
    /*margin-left: 5em;*/

}

/*.primary-list li {*/
/*    display: inline;*/
/*    margin-right: 15px;*/
/*    font-family: Calibri, serif;*/
/*    font-size: 20px;*/
/*    color: white;*/
/*}*/

.secondary-list li {
    display: inline-block;
    margin-right: 30px;
    font-family: Calibri, serif;
    font-size: 14px;
    color: #0B5D71;
    font-weight: bold;

}

.sidenav {
    display: none;

}
.usr_nav_mobile {
    display: none;
}

.options{
    display: flex;
    position: relative;
    right:60px;

}

.search-bar {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/

}

.search-bar > input {
    background: white;
    border: none;
    width: 80%;
    height: 30px;
    text-indent: 20px;
    letter-spacing: 0.72px;
    color: #0B5D71;
    margin: 0;
    font-family: Calibri, serif;
}
.search-bar > input:focus {
    outline: none !important;
}

.search_result {
    margin-top: 1em;
    background-color: white;
    width: 100%;
    height: 100%;
    /*border: 1px solid green;*/

}


.img_buttons {
    /*position: relative;*/
    /*left: 30vw;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid black;*/
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropbtn :hover{
    background-color: #D7E6EA;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*position: relative;*/
    display: inline-block;
    /*border: 1px solid red;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    z-index: 1001;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Calibri, serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.content{
    margin-top: 85px;
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
    height: 100%;

}
.nav {
    width:7%;
    height:100%;

}

#go_to_top, #go_back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color: #c9d1d4;
    width: 7%;
    height: 100%;
    text-align: center;
    position: fixed;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#go_to_top::after{
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: white;
}

#go_back::after {
    content: "\f078";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: white;

}
#go_to_top:hover , #go_back:hover{
    cursor: pointer;
    background-color: #b3b8ba;
}
#go_to_top:active , #go_back:active{
    background-color: #0B5D71;
}
#go_to_top.show , #go_back.show{
    opacity: 1;
    visibility: visible;
}


.feed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 67%;
    height: 100%;
    /*border: 1px solid red;*/
}

.menu {
    margin-top: 15px;
    font-family: Calibri, serif;
    height: 100px;
    width: 98%;
    background-color: white;
    /*box-shadow: 0 2px 2px gray;*/
}

.menu-name {
    color: #0B5D71;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    padding-top: 10px;
}

.list-menu li {
    display: inline;
    color: gray;
}

.article {
    /*margin-top: 15px;*/
    font-family: Calibri, serif;
    /*height: 1000px;!important;*/
    width: 98%;
    /*background-color: white;*/
    /*border: 2px solid black;*/
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    height: 100%;
    /*border: 1px solid black;*/
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width:85%;
    /*box-shadow: 0 2px 2px gray;*/
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    height:400px;!important;
    color: #0B5D71;
}

.reading_right_now {
    width:85%;
    /*box-shadow: 0 2px 2px gray;*/
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    height:700px;!important;
    font-family: Calibri, serif;
    font-weight: bold;
    color: #0B5D71;
}

.rrn_title {
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    height:40px;
    font-size: 20px;
    border-bottom: 0.5px solid lightgray;
    padding-right: 20px;
}

.rrn_articles {
    margin-left: 20px;
    /*border: 1px solid red;*/
    padding-right: 20px;
}

.rrn_each_article {
    border-bottom: 0.5px solid lightgray;
}

a{
    color: #0B5D71;
    text-decoration: none;
}

a:hover{
    color: #2c364a;
    text-decoration: underline;
}


section {
    display: flex;
    flex-direction: column;
}

.articles{
    color: #0B5D71;
}
.each_article {
    max-width: 85vw;
    margin-top: 1em;
    height: 100%;
    /*border: 2px solid red;*/
    background-color: white;
}
.articles > * {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
.articles img{
    height: 100%;
    max-width: 100%;
}

/*.articles > div {*/
/*    height: 400px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

section.article-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-form > form {
    display: flex;
    flex-direction: column;
}

.social-section {
    margin-top: 20px;
    padding-bottom: 20px;
}
.social-section > i{
    margin-right: 1em;
}
.social-section > i:hover {
    cursor: pointer;
}

.read_more {
    background-color: white;
    color: #0B5D71;
    /*border: none;*/
    border: 1px solid #0B5D71;
    border-radius: 3px;
    height:35px;
    width:100px;
    font-family: Calibri, serif;

}

.read_more:hover {
    transition: 0.3s;
    background-color: #0B5D71;
    color: white;
}





