body {
    background: #D7E6EA;
    margin: 0;
    padding: 0;


}

.main-container {
    display: flex;
    flex-direction: column;
    /*border: 2px solid black ;*/
}

.header {
    width:100%;
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 1px 1px 1px gray;*/

}

.upper-header {
    /*border: 2px solid green;*/
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0B5D71;

}
.logo {
    flex-direction: row;
    align-items: center;
    margin-left:110px;
    font-size: 30px;
    font-family: Calibri, serif;
    font-weight: bold;
    color: white;


}
.colortext {
    color: #00F7FF;
}
.lower-header {
    height: 35px;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;

}

.secondary-list {
    margin-left: 70px;

}

/*.primary-list li {*/
/*    display: inline;*/
/*    margin-right: 15px;*/
/*    font-family: Calibri, serif;*/
/*    font-size: 20px;*/
/*    color: white;*/
/*}*/

.secondary-list li {
    display: inline;
    margin-right: 30px;
    font-family: Calibri, serif;
    font-size: 14px;
    color: #0B5D71;
    font-weight: bold;

}

.img_buttons {
    position: relative;
    left: 70vh;
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-between;

}

img {
    /*margin-right: 20px;*/
}

.content{
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
    height: 100%;

}

.feed {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 9%;
    width: 82%;
    /*background-color: white;*/
    /*border: 1px solid red;*/
}

p {

    font-size: 30px;
    font-family: Calibri, serif;
    color: #0B5D71;
    font-weight: bold;
    margin: 1em;
}

/*.project-form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/


a{
    color: #0B5D71;
    text-decoration: none;
}

a:hover{
    color: #2c364a;
    text-decoration: underline;
}

.search-bar {
    width: 100%;
}

.search-bar > input {
    background: white;
    border: none;
    width: 99.7%;
    height: 30px;
    text-indent: 20px;
    letter-spacing: 0.72px;
    color: #0B5D71;
    margin: 0;
    font-family: Calibri, serif;
}
.search-bar > input:focus {
    outline: none !important;
}

.search_result {
    margin-top: 1em;
    background-color: white;
    width: 100%;
    height: 100%;
    /*border: 1px solid green;*/

}


.articles{

}
.each_article {
    max-width: 85vw;
    margin-top: 1em;
    height: 100%;
    /*border: 2px solid red;*/
    background-color: white;
}
.articles > * {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
.articles img{
    height: 100%;
    max-width: 600px;
}

