@media screen and (max-width: 848px) {

    .upper-header{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        font-size: 30px;
        margin-right: 1em;
    }

    .fa-bars{
        visibility: visible;
    }

    .secondary-list{
        display: none;
    }

    .sidenav {
        display: block;
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #edf1f2; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a, .rightSideNav a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        font-family: Calibri, serif;
        color: #0B5D71;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .rightSideNav a:hover{
        color: #0c5d70;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn, .rightSideNav .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .rightSideNav {
        display: block;
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #edf1f2; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .options {
        display: flex;
        align-items: center;
        position: fixed;
        right: 20px;
    }

    .dropbtn{
        display: none;
    }

    .usr_nav_mobile{
        display: block;
    }


}
